<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="">
        <h2>Sign up</h2>
        <h6><a ng-href='/#!/login'>Have an account?</a></h6>
      </div>
      <form novalidate class="form">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="john@doe.com" ng-model='email'>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" ng-model='password' placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" ng-model='confirmpass' placeholder="Comfirm Password">
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" ng-click="signup()" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</div>
